In [1]:
## /* Q10: Produce a list of facilities with a total revenue less than 1000.
## The output of facility name and total revenue, sorted by revenue. Remember
## that there's a different cost for guests and members! */

import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
                SELECT 
                 F.name,
                 SUM(CASE WHEN M.memid = 0 
                 THEN F.guestcost 
                 ELSE F.membercost 
                END * B.slots ) AS revenue
                FROM Bookings B
                INNER JOIN Facilities F ON B.facid = F.facid
                LEFT JOIN Members M ON B.memid = M.memid
                GROUP BY 
                F.name
                HAVING(revenue) < 1000
                ORDER BY revenue
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [2]:
## /* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
                SELECT memid, surname,firstname,recommendedby
                FROM Members
                where memid <> 0 and recommendedby is not null and recommendedby <> ""
                ORDER BY surname,firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(15, 'Bader', 'Florence', '9')
(12, 'Baker', 'Anne', '9')
(16, 'Baker', 'Timothy', '13')
(8, 'Boothe', 'Tim', '3')
(5, 'Butters', 'Gerald', '1')
(22, 'Coplin', 'Joan', '16')
(36, 'Crumpet', 'Erica', '2')
(7, 'Dare', 'Nancy', '4')
(20, 'Genting', 'Matthew', '5')
(35, 'Hunt', 'John', '30')
(11, 'Jones', 'David', '4')
(26, 'Jones', 'Douglas', '11')
(4, 'Joplette', 'Janice', '1')
(21, 'Mackenzie', 'Anna', '1')
(10, 'Owen', 'Charles', '1')
(17, 'Pinker', 'David', '13')
(30, 'Purview', 'Millicent', '2')
(27, 'Rumney', 'Henrietta', '20')
(24, 'Sarwin', 'Ramnaresh', '15')
(14, 'Smith', 'Jack', '1')
(9, 'Stibbons', 'Ponder', '6')
(29, 'Worthington-Smyth', 'Henry', '2')

In [3]:
##/* Q12: Find the facilities with their usage by member, but not guests */

import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
                SELECT name,Bookings.facid,memid,sum(slots)
                FROM Bookings
                inner join Facilities
                On Facilities.facid = Bookings.facid
                WHERE memid <> 0
				group by name,Bookings.facid, memid

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 2, 1, 432)
('Badminton Court', 2, 2, 102)
('Badminton Court', 2, 3, 12)
('Badminton Court', 2, 5, 63)
('Badminton Court', 2, 6, 6)
('Badminton Court', 2, 7, 30)
('Badminton Court', 2, 8, 36)
('Badminton Court', 2, 9, 48)
('Badminton Court', 2, 10, 18)
('Badminton Court', 2, 11, 24)
('Badminton Court', 2, 12, 30)
('Badminton Court', 2, 13, 21)
('Badminton Court', 2, 14, 36)
('Badminton Court', 2, 15, 27)
('Badminton Court', 2, 16, 21)
('Badminton Court', 2, 17, 21)
('Badminton Court', 2, 21, 96)
('Badminton Court', 2, 24, 21)
('Badminton Court', 2, 26, 6)
('Badminton Court', 2, 29, 15)
('Badminton Court', 2, 30, 6)
('Badminton Court', 2, 33, 3)
('Badminton Court', 2, 35, 6)
('Badminton Court', 2, 36, 6)
('Massage Room 1', 4, 1, 58)
('Massage Room 1', 4, 2, 12)
('Massage Room 1', 4, 3, 176)
('Massage Room 1', 4, 4, 24)
('Massage Room 1', 4, 5, 66)
('Massage Room 1', 4, 6, 62)
('Massage Room 1', 4, 7, 38)
('Massage Room 1', 4, 8, 76)
('Massage Room 1', 4, 9, 40)
('Massage Room 1', 4, 10, 22)
('Massage Room 1', 4, 11, 40)
('Massage Room 1', 4, 12, 6)
('Massage Room 1', 4, 13, 68)
('Massage Room 1', 4, 14, 54)
('Massage Room 1', 4, 16, 50)
('Massage Room 1', 4, 17, 6)
('Massage Room 1', 4, 20, 52)
('Massage Room 1', 4, 21, 2)
('Massage Room 1', 4, 22, 2)
('Massage Room 1', 4, 24, 16)
('Massage Room 1', 4, 29, 2)
('Massage Room 1', 4, 33, 2)
('Massage Room 1', 4, 35, 6)
('Massage Room 1', 4, 36, 4)
('Massage Room 2', 5, 3, 4)
('Massage Room 2', 5, 4, 4)
('Massage Room 2', 5, 5, 2)
('Massage Room 2', 5, 7, 10)
('Massage Room 2', 5, 10, 4)
('Massage Room 2', 5, 11, 8)
('Massage Room 2', 5, 12, 4)
('Massage Room 2', 5, 14, 2)
('Massage Room 2', 5, 15, 4)
('Massage Room 2', 5, 20, 2)
('Massage Room 2', 5, 22, 4)
('Massage Room 2', 5, 24, 6)
('Pool Table', 8, 1, 28)
('Pool Table', 8, 2, 64)
('Pool Table', 8, 3, 282)
('Pool Table', 8, 4, 27)
('Pool Table', 8, 5, 6)
('Pool Table', 8, 6, 30)
('Pool Table', 8, 7, 19)
('Pool Table', 8, 8, 26)
('Pool Table', 8, 9, 12)
('Pool Table', 8, 10, 1)
('Pool Table', 8, 11, 8)
('Pool Table', 8, 12, 12)
('Pool Table', 8, 13, 1)
('Pool Table', 8, 14, 7)
('Pool Table', 8, 15, 23)
('Pool Table', 8, 16, 95)
('Pool Table', 8, 17, 9)
('Pool Table', 8, 20, 18)
('Pool Table', 8, 21, 83)
('Pool Table', 8, 22, 11)
('Pool Table', 8, 24, 13)
('Pool Table', 8, 26, 2)
('Pool Table', 8, 27, 3)
('Pool Table', 8, 28, 25)
('Pool Table', 8, 29, 37)
('Pool Table', 8, 30, 5)
('Pool Table', 8, 33, 9)
('Snooker Table', 7, 1, 24)
('Snooker Table', 7, 2, 90)
('Snooker Table', 7, 4, 142)
('Snooker Table', 7, 5, 72)
('Snooker Table', 7, 6, 40)
('Snooker Table', 7, 7, 46)
('Snooker Table', 7, 8, 90)
('Snooker Table', 7, 9, 40)
('Snooker Table', 7, 10, 44)
('Snooker Table', 7, 11, 4)
('Snooker Table', 7, 13, 44)
('Snooker Table', 7, 14, 10)
('Snooker Table', 7, 15, 66)
('Snooker Table', 7, 17, 32)
('Snooker Table', 7, 20, 2)
('Snooker Table', 7, 21, 14)
('Snooker Table', 7, 22, 20)
('Snooker Table', 7, 24, 36)
('Snooker Table', 7, 27, 28)
('Snooker Table', 7, 28, 2)
('Snooker Table', 7, 30, 2)
('Snooker Table', 7, 33, 12)
('Squash Court', 6, 1, 30)
('Squash Court', 6, 2, 12)
('Squash Court', 6, 4, 30)
('Squash Court', 6, 5, 18)
('Squash Court', 6, 6, 78)
('Squash Court', 6, 8, 24)
('Squash Court', 6, 9, 4)
('Squash Court', 6, 10, 14)
('Squash Court', 6, 11, 16)
('Squash Court', 6, 12, 110)
('Squash Court', 6, 13, 16)
('Squash Court', 6, 14, 22)
('Squash Court', 6, 15, 4)
('Squash Court', 6, 16, 10)
('Squash Court', 6, 17, 6)
('Squash Court', 6, 21, 4)
('Squash Court', 6, 22, 2)
('Squash Court', 6, 24, 4)
('Squash Court', 6, 26, 2)
('Squash Court', 6, 27, 4)
('Squash Court', 6, 28, 2)
('Squash Court', 6, 30, 2)
('Squash Court', 6, 33, 2)
('Squash Court', 6, 35, 2)
('Table Tennis', 3, 1, 56)
('Table Tennis', 3, 2, 56)
('Table Tennis', 3, 3, 150)
('Table Tennis', 3, 4, 18)
('Table Tennis', 3, 5, 2)
('Table Tennis', 3, 6, 48)
('Table Tennis', 3, 7, 10)
('Table Tennis', 3, 8, 8)
('Table Tennis', 3, 9, 6)
('Table Tennis', 3, 10, 50)
('Table Tennis', 3, 11, 22)
('Table Tennis', 3, 12, 2)
('Table Tennis', 3, 13, 24)
('Table Tennis', 3, 14, 10)
('Table Tennis', 3, 15, 86)
('Table Tennis', 3, 16, 48)
('Table Tennis', 3, 17, 34)
('Table Tennis', 3, 20, 54)
('Table Tennis', 3, 21, 32)
('Table Tennis', 3, 22, 46)
('Table Tennis', 3, 24, 6)
('Table Tennis', 3, 29, 6)
('Table Tennis', 3, 30, 14)
('Table Tennis', 3, 35, 2)
('Table Tennis', 3, 36, 4)
('Tennis Court 1', 0, 2, 93)
('Tennis Court 1', 0, 3, 18)
('Tennis Court 1', 0, 4, 57)
('Tennis Court 1', 0, 5, 171)
('Tennis Court 1', 0, 6, 93)
('Tennis Court 1', 0, 7, 81)
('Tennis Court 1', 0, 8, 12)
('Tennis Court 1', 0, 9, 3)
('Tennis Court 1', 0, 10, 51)
('Tennis Court 1', 0, 11, 84)
('Tennis Court 1', 0, 12, 18)
('Tennis Court 1', 0, 13, 3)
('Tennis Court 1', 0, 14, 75)
('Tennis Court 1', 0, 15, 3)
('Tennis Court 1', 0, 16, 45)
('Tennis Court 1', 0, 17, 51)
('Tennis Court 1', 0, 20, 3)
('Tennis Court 1', 0, 22, 21)
('Tennis Court 1', 0, 24, 15)
('Tennis Court 1', 0, 26, 27)
('Tennis Court 1', 0, 28, 18)
('Tennis Court 1', 0, 35, 12)
('Tennis Court 1', 0, 36, 3)
('Tennis Court 2', 1, 1, 57)
('Tennis Court 2', 1, 2, 6)
('Tennis Court 2', 1, 3, 18)
('Tennis Court 2', 1, 4, 24)
('Tennis Court 2', 1, 5, 9)
('Tennis Court 2', 1, 6, 9)
('Tennis Court 2', 1, 7, 33)
('Tennis Court 2', 1, 8, 168)
('Tennis Court 2', 1, 9, 96)
('Tennis Court 2', 1, 10, 141)
('Tennis Court 2', 1, 11, 99)
('Tennis Court 2', 1, 12, 114)
('Tennis Court 2', 1, 13, 3)
('Tennis Court 2', 1, 14, 3)
('Tennis Court 2', 1, 15, 24)
('Tennis Court 2', 1, 16, 21)
('Tennis Court 2', 1, 24, 36)
('Tennis Court 2', 1, 27, 3)
('Tennis Court 2', 1, 28, 3)
('Tennis Court 2', 1, 30, 3)
('Tennis Court 2', 1, 35, 12)

In [5]:
##/* Q13: Find the facilities usage by month, but not guests */

import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
            SELECT  strftime("%Y", starttime) AS YEAR, 
                    strftime("%m", starttime) AS MONTH, 
                    name,sum(slots) as useage
            FROM Bookings
            inner join Facilities
            on Bookings.facid = Facilities.facid
            where memid > 0
            group by year,month,name
			order by useage
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('2012', '07', 'Massage Room 2', 8)
('2012', '08', 'Massage Room 2', 18)
('2012', '09', 'Massage Room 2', 28)
('2012', '07', 'Squash Court', 50)
('2012', '07', 'Table Tennis', 98)
('2012', '07', 'Pool Table', 110)
('2012', '07', 'Tennis Court 2', 123)
('2012', '07', 'Snooker Table', 140)
('2012', '07', 'Badminton Court', 165)
('2012', '07', 'Massage Room 1', 166)
('2012', '08', 'Squash Court', 184)
('2012', '09', 'Squash Court', 184)
('2012', '07', 'Tennis Court 1', 201)
('2012', '08', 'Table Tennis', 296)
('2012', '08', 'Pool Table', 303)
('2012', '08', 'Massage Room 1', 316)
('2012', '08', 'Snooker Table', 316)
('2012', '08', 'Tennis Court 1', 339)
('2012', '08', 'Tennis Court 2', 345)
('2012', '09', 'Table Tennis', 400)
('2012', '09', 'Massage Room 1', 402)
('2012', '09', 'Snooker Table', 404)
('2012', '08', 'Badminton Court', 414)
('2012', '09', 'Tennis Court 2', 414)
('2012', '09', 'Tennis Court 1', 417)
('2012', '09', 'Pool Table', 443)
('2012', '09', 'Badminton Court', 507)